@import "fonts"
@import "libs"
@import "vars" 

/* Start configuration */

*::-webkit-input-placeholder
	color: #666
	opacity: 1 

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1



html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1 
	&.ishome
		.site-header
			min-height: 600px
			height: 100vh
			background-color: $brown
			.top-line
				padding-top: 29px
				position: absolute
				width: 100%
				z-index: 1
.h1, .h2, .h3, .h4, .h5, .h6
	line-height: 1.4
	text-transform: uppercase

.text-center
	text-align: center

section, header
	position: relative
	background-size: cover
	background-position: center

section
	background-color: #FFF
	&.inverse
		color: #fff
		background-color: $brown
		&.s-call
			background-color: #FFF

.img-responsive
	display: block
	max-width: 100%
	height: auto

.number
	font-family: firasans-ex, sans-serif
/*End Start configuration */

/* Header styles */

.logo	
	img
		width: 144px
		height: auto	
		margin-left: 45px			
		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.51)
.phone	
	position: absolute
	right: 85px
	top: 40px
	font-family: firasans-ex
	font-size: 22px
	color: #DCDDDC
	white-space: nowrap
	padding: 0px 10px
	line-height: 1.4
	box-shadow: 0px 0px 0px 1px white inset
	// box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.51)
	&:hover
		text-decoration: none
		color: white
		background-color: $accent
		box-shadow: none
	.fa
		color: $dirt-white


// Menu button
.hamburger
	position: absolute
	right: 0
	// margin-right: -9px
	padding: 14px 6px 0 0 
	color: white
	.hamburger-inner, 
	.hamburger-inner::after, 
	.hamburger-inner::before
		border-radius: 0
		width: 34px
		background-color: $dirt-white
	&:hover
		.hamburger-inner, 
		.hamburger-inner::after, 
		.hamburger-inner::before
			background-color: black
			opacity: 1
		

/* Customizing MMenu plugin */

#my-menu
	// background-color: $accent
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 66%, rgba(14,8,6,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 66%,rgba(14,8,6,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 66%,rgba(14,8,6,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0e0806',GradientType=0 ); /* IE6-9 */
	// background-image: url("../img/bg_mmenu/4.jpg")
	color: white


.mm-menu .mm-navbar a, .mm-menu .mm-navbar>*
	color: $dirt-white
.mm-menu .mm-listview>li .mm-next:after
	color: black

.mm-navbar 
	height: auto
	position: relative
	margin-bottom: 20px
	.mm-title img
		width: 144px
		height: auto		
		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.51)

.mm-listview > li, .mm-navbar
	border: #aeaeae 

.mm-panels>.mm-panel.mm-hasnavbar
	padding-top: 0
.mm-menu .mm-listview>li .mm-next:after
	border-color: white
.mm-menu .mm-btn::after, .mm-menu .mm-btn::before
	border-color: white
.mm-listview 
	> li
		> a
			transition: color .25s ease
			padding-left: 14%
			padding-right: 14%
			&:hover
				color: $gold
				&::before
					color: gold
			&::before
				content: "\f20e"
				font-family: fontawesome
				margin-right: 10px
				text-decoration: none
				font-size: 14px
				color: white
				transition: color .25s ease
		&.active
			&>a
				color: $accent
				&::before
					color: $accent
/* End Customizing MMenu plugin */	

button
	background-color: transparent
.button
	display: inline-block
	border: none
	color: $dirt-white
	text-decoration: none
	padding: 10px 45px
	font-size: 13px
	text-transform: uppercase
	font-weight: 300
	letter-spacing: 3px
	// border: 2px $main-grey solid 
	box-shadow: 0px 0px 0px 1px white inset
	border-radius: 0px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	// &::after
	// 	transition: background-color .2s ease
	// 	position: absolute
	// 	content: ''
	// 	height: 4px
	// 	bottom: 0
	// 	width: 100%
	// 	background-color: darken($main-grey, 50%)
	// 	opacity: .18
	// 	border-bottom-left-radius: 2px
	// 	border-bottom-right-radius: 2px
	// 	left: 0
	&:focus, &:hover
		box-shadow: none
		text-decoration: none
		color: $dirt-white
	&:hover
		background-color: $accent
		&::after
			opacity: .22
	&:active
		background-color: lighten($accent, 5%)
		&::after
			opacity: .32 

/* Headet text content */

.header-flex
	display: flex
	height: 100%
	position: relative
	top: 0
.flex-center	
	margin: auto

.header-composition	
	text-align: center
	position: relative
	height: 100%
	margin-top: 30px
	>p
		color: $dirt-white
		margin: 35px auto
		font-weight: 300
	.button
	>.welcome
		>p
			margin: 0px
			font-size: 14px
			text-transform: uppercase
			display: flex
			align-items: center
			white-space: nowrap
			&::before, &::after
				content: ''
				height: 1px
				width: 100%
				position: relative
				background-color: white
				display: inline-block
			>span
				color: $dirt-white
		>.h1
			font-size: 33px
			margin: 15px auto
			font-weight: 600
			white-space: nowrap
			border-bottom: 1px solid $main-grey
			margin: 0
			line-height: 80px

/* Social icons right */	

.header-social
	position: absolute
	display: flex
	right: 0
	height: 100%
	border-left: $dirt-white 1px solid
	top: 0
.soc	
	margin: auto
	ul, li
		margin: 0
		padding: 0
		list-style-type: none
	a
		color: #2c2c2c
		font-size: 20px
		display: block
		background-color: rgba(#fff, .2)
		height: 38px
		width: 38px
		text-align: center
		margin: 10px 
		line-height: 38px
		border-radius: 20px
		transition: background-color .25s ease
		&:hover
			// background-color: rgba(#fff, .4)
			background-color: black
			color: $dirt-white

/* Header Contacts on bottom */		

.header-contacts
	position: absolute
	width: 100%
	bottom: 0
	left: 0  
	text-align: center
	border-top: $dirt-white 1px solid
	margin: 0
	padding: 15px
	font-family: raleway-ex
	font-weight: 300
	font-size: 14px
	color: $dirt-white
	.fa
		margin-right: 5px
		color: $dirt-white
		font-size: 18px

/*END Header styles */

/* Section_1_Services */

$colors: $car-1, $car-2, $car-3
@for $i from 1 through length($colors) 
	.carousel-services .owl-item:nth-child(#{length($colors)}n+#{$i}) 
		background-color: nth($colors, $i)

.owl-carousel .owl-item 
	text-align: center
	img
		// width: 144px
		width: 115px
		height: auto


.carousel-services
	background-color: $light-grey
	&-item
		color: $dirt_white
		font-size: 18px
		font-weight: 300
		position: relative
		display: flex
		flex-direction: column-reverse
		&:hover
			cursor: pointer
			.carousel-services-image
				opacity: 1
				cursor: pointer
		.carousel-logo
			text-align: center
			img
				display: inline-block

	.owl-item
		&:nth-child(2n+2)
			.carousel-services-item
				flex-direction: column

	&-image
		background-size: cover
		background-position: center
		opacity: .7
		transition: opacity .5s ease
	&-content
		position: relative
		display: flex
		padding: 20px 10%
	&-composition
		margin: auto
		width: 100%
		h3
			text-transform: uppercase
			font-weight: 600
			font-size: 18px
			margin-bottom: 0px
			margin-top: 10px
		.button 
			padding: 5px 20px
			
	&-list
		margin: 0
		padding: 0
		list-style-type: none
		margin-bottom: 10px
		margin-top: 5px
		li
			border-bottom: 1px solid rgba(#000, .12)
			padding: 1px
			font-size: 16px
			&:last-child
				border-bottom: none
			.number
				color: $main-grey
				font-size: 16px
			.fa-usd
				color: $main-grey
				font-size: 14px

	.owl-nav
		position: absolute
		top: 40px
		width: 100%
		> div
			width: 64px
			height: 64px
			background-color: $dirt-white
			position: absolute
			text-align: center
			line-height: 64px
			font-size: 26px
			&.owl-prev
				left: 0
			&.owl-next
				right: 0

/* END Section_1_Services */


/* !!!!Section styles!!!! */

.s
	&-interior, &-review, &-partners
		padding: 5% 0

	&-interior
		p
			margin: 30px 0
		h2
			font-size: 20px
			border-bottom: 1px solid 
			display: inline-block
			margin-bottom: 0
	&-call
		background-size: cover
		background-repeat: no-repeat
		&::before
			content: ''
			width: 50%
			right: 0
			height: 100%
			position: absolute
			background-color: rgba($blue, 0.95)
	&-partners.section-overley
		&::before
			background-color: #b0b0b0

/* END Section styles*/



/* Section_2_Interior */

.section-overley
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: $brown
		opacity: 0.8

.fotorama	
	// background-color: rgba($brown, .4)
	&__nav
		&-wrap
			position: absolute
			bottom: 10px
			padding: 0 30px
			width: 100%
	&__thumb
		border: 3px $dirt-white solid
		transition: border-color .5s ease
		&-border
			border-color: $gold

	&__arr-
		&-next, &-prev
			&::before
				font-family: fontawesome
				font-size: 32px
		&-next
			&::before
				content: '\f04e'
		&-prev
			&::before
				content: '\f04a'

.fotorama__fullscreen-icon
	position: absolute
	top: 15px
	right: 20px
	&::before
		font-family: fontawesome
		font-size: 27px
		content: '\f047'
.fotorama--fullscreen .fotorama__nav
  background-color: rgba(#FFF, 0.01)
.fotorama--fullscreen .fotorama__fullscreen-icon
	position: absolute
	top: 50px
	right: 80px
	color: $dirt-white
.fotorama--fullscreen .fotorama__nav-wrap	
	position: relative

/*END Section_2_Interior */

/* Section_3_Callback */

input, textarea, select,
.selectize-control .selectize-input,
.selectize-control.single .selectize-input.input-active
	background-color: transparent
	border: #fff 1px solid
	border-radius: 0
	border-bottom: #fff 2px solid
	padding: 9px 20px
	margin-bottom: 10px
	outline: none
	display: inline-block
	font-size: 14px
	text-transform: uppercase
	color: black
select,
.selectize-control .selectize-input
	padding: 11px 22px
	color: $dirt-white
	width: 79%
	// padding-left: 17px
.selectize-control .selectize-input
	box-shadow: none
	overflow: inherit
	line-height: inherit
	text-align: left
	input
		font-size: inherit
.selectize-control.single .selectize-input:after
	border-color: $dirt-white transparent transparent transparent
	border-width: 9px 9px 0 9px
.selectize-dropdown
	font-size: 14px
	border: none
	border-radius: none
	&-content
		.option
			padding: 10px 22px
			background-color: $dirt-white
			&.active
				background-color: $accent
				color: $dirt-white


.success
	display: none
	position: absolute
	top: 0
	left: -120px
	right: 0
	bottom: 0
	text-transform: uppercase
	text-decoration: underline
	letter-spacing: 2px
	font-weight: bold
	// display: flex
	z-index: 10
	span
		margin: auto
	& ~ *
		transition: all .5s ease
	&.active
		& ~ *
			opacity: .6
			filter: blur(5px)

.callback
	// padding: 0 0
	position: relative
	&-logo
		img
			width: 130px
			height: auto
			display: inline-block
			margin-top: 60px
	.formhead
		margin-top: 20px
		font-size: 20px 
		font-weight: 800
		letter-spacing: 1px 
	p
		margin-top: 5px
	select
		color: $dirt-white
		width: 79%
		padding-left: 17px
		option
			display: block
			color: $dirt-white
			background-color: $accent
			font-size: 16px
			border-bottom: 1px #fff solid
			padding: 20px 40px
			&:hover
				background-color: #fff


			

	input, textarea
		color: #fff
		width: 79%

		&::-webkit-input-placeholder
			color: $dirt-white
			opacity: 1
		&::-moz-placeholder
			color: $dirt-white
			opacity: 1
		&::-ms-input-placeholder
			color: $dirt-white
	.button
		margin-top: 13px
		margin-bottom: 60px
		font-size: 14px
		padding: 9px 45px

/* END Section_3_Callback */


/* Section_4 Client Review  */

.owl-dots
	width: 100%
	text-align: center
	display: inline-block
	margin-top: 30px
	.owl-dot
		width: 8px
		height: 8px
		background-color: #fff
		border-radius: 10em
		display: inline-block
		margin: 5px
		transition: background-color .5s ease, transform .5s ease
		&.active
			background-color: $accent
			transform: scale(1.4)
.review
	cursor: pointer
	&-stars
		color: $accent
		margin: 5px
		font-size: 18px
		.fa
			margin-right: 4px
	&-header
		font-size: 20px
	&-data
		opacity: 0.6

.quotes
	position: absolute
	width: 100%
	&::before, &::after
		content: ",,"
		position: absolute
		top: 80px
		font-size: 70px
		color: $accent
		font-family: 'Times New Roman', serif
		line-height: 0
		transform: rotate(180deg)
		display: block
	&::before
		top: 230px
		left: -40px
	&::after
		right: -30px
		top: 50px
		transform: rotate(0)
.h-first
	margin-top: 0
	margin-bottom: 30px
	font-size: 20px
	font-weight: 800 
	letter-spacing: 1px
/* END Section_4 Client Review  */

/* Section_5_Partners */
.s-partners
	.h2
		color: $accent
		margin-top: 0
		font-size: 20px
		font-weight: 800
		letter-spacing: 1px

.partners
	.partner
		height: 100%
		display: flex
		margin: auto
	.owl-stage
		display: flex
		height: 150px
		margin-top: 30px
	.owl-item
		img
			max-width: 100%
			max-height: 100%
			width: 170px
			display: inline-block
			margin: auto
	.owl-nav
		position: absolute
		top: 0
		width: 100%
		z-index: 2
		>div
			position: absolute
			top: 79px
			color: $main-grey
			font-size: 30px
			padding: 0 10px
			&:hover
				color: $accent
			&.owl-prev
				left: -60px
			&.owl-next
				right: -60px

/* END Section_5_Partners */


/* Footer */
.main-footer
	padding: 2% 0 
	color: $dirt-white
	font-size: 14px
.footer-column
	margin: 15px 0
	p
		position: relative
		font-size: 15px
.logo-footer
	width: 130px
	height: auto
	+ p
		color: $light-grey	
		font-weight: 600	
		padding: 0
		margin-bottom: 15px
		margin-top: 15px
		position: relative
		left: -15px
		text-align: center
.footer-social
	// margin-top: 40px
	.soc
		li
			display: inline-block
			a
				margin: 0 2px 0 2px
				color: $dirt-white

.footer-menu
	ul
		padding: 0
		margin: 0
		list-style-type: none
		li.active
			a
				color: $gold
				&::before
					color: $gold
		a
			color: $dirt-white
			transition : color .25s ease
			display: inline-block
			padding: 4px 0
			text-decoration: underline
			padding-left: 20px
			position: relative
			&:hover, &:focus
				color: $gold
				&::before
					color: $gold
			&::before
				position: absolute
				content: '\f20e'
				font-family: fontawesome
				left: 0
				transition: color .5s ease

.footer-addr
	position: relative
	font-size: 15px
	padding-left: 25px
	margin: 0 0 20px
	.fa
		position: absolute
		left: 0
		top: 5px
		font-size: 22px
		color: $light-grey
	.footer-phone
		font-size: 22px
		white-space: nowrap
		
.footer-addr.footer-phone
	margin-top: 30px
	.fa
		top: 7px
		left: 3px

.map
	min-height: 250px
	opacity: .8
	transition: opacity .5s ease
	&:hover
		opacity: 1

/* END Footer */


@import "media" 
